@font-face {
    font-family: 'Open Sans';
    src: url('Fuentes/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

:root {
    --strongColor: #ffbf00;
    --secondaryColor: #ff6f00;
    --whiteColor: #ffffff;
    --blackColor: #000000;
    --greyColor: #3b3b3b;
    --primaryFont: "Open Sans", Sans-serif;
    --secondaryFont: "Roboto", sans-serif;
    --smallTitleFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    all: unset;
}

button {
    all: unset;
}

img {
    width: 100%;
}

* {
    margin: 0 auto;
    box-sizing: border-box;
}

header {
    font-family: var(--headerFontSize);
    font-size: var(--headerFontSize);
    color: var(--strongColor);
}

body {
    margin: 0;
    font-family: var(--secondaryFont);
    font-size: var(--bodyFontSize);
    color: var(--greyColor);
}

.common-padding {
    max-width: 90rem;
    padding: 0 16px;
}

h1, h2, h3, .small-title {
    font-family: var(--primaryFont);
    text-transform: uppercase;
    margin: 1rem auto;
    font-weight: 900;
}

h2 {
    margin-top: 0;
    font-size: 2rem;
}

h2, h3 {
    color: var(--blackColor);
}

.small-title {
    margin: 0;
    color: gray;
}

p {
    line-height: 1.75rem;
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 10000;
    width: 100%;
    margin: 0 auto;
    font-family: var(--headerFontSize);
    font-size: var(--headerFontSize);
    color: var(--blackColor);
    align-content: center;
    box-shadow: 0 -6px 16px var(--blackColor);
    background-color: var(--strongColor);
}

header::before {
    content: "";
    width: 100%;
    position: absolute;
    height: 0vh;
    background-color: #00000099;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    opacity: 0;
    top: 0;
    right: 0;
    z-index: -11;
    transform: height 0.3s, opacity 0.3s;
    transition: opacity 0.3s ease-in-out;
}

header.active::before {
    height: 150vh;
    opacity: 1;
}

#header-padding {
    width: 100%;
}


.header-div-top {
    width: 100%;
    margin: 0;
    padding: clamp(0.75rem, 2vw, 1.5rem);
    display: flex;
    justify-content: space-between;
    gap: 4vw;
    align-items: center;
    height: 4.5rem;
    line-height: 0;
    background-color: var(--strongColor);
}

.header-div-logo-container {
    max-width: 100%;
    text-align: left;
    margin: 0;
    cursor: pointer;
}

.header-div-logo-container img {
    border-radius: 0;
    height: 2rem;
    width: 100%;
}

#hamburguer-menu-icon {
    max-width: 20%;
    min-width: 42px;
    display: block;
    cursor: pointer;
    margin: 0;
}

#hamburguer-menu-icon.active {
    cursor: pointer;
}

.bar {
    display: block;
    max-width: 8vw;
    height: 3px;
    margin: 5px auto;
    background-color: var(--blackColor);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}html {
    scroll-behavior: smooth;
}


#hamburguer-menu-icon.active .bar:nth-child(1) {
    opacity: 0;
}

#hamburguer-menu-icon.active .bar:nth-child(2) {
    transform: translateY(4px) rotate(45deg);
}

#hamburguer-menu-icon.active .bar:nth-child(3) {
    transform: translateY(-4px) rotate(-45deg);
}

nav {
    font-size: 1.125rem;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--whiteColor);
    top: 0vh;
    left: 0;
    gap: 0;
    z-index: -1;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
}

nav.active {
    transform: translateY(10%);
    transition-delay: .2s;
}

nav ul {
    display: flex;
    flex-direction: column;
    padding: 12vh 0;
    margin: 0;
    text-align: left;
}

nav ul li {
    font-family: var(--primaryFont);
    font-size: 1.25rem;
    font-weight: 900;
    color: var(--blackColor);
    list-style-type: none;
    cursor: pointer;
    padding: 1rem 2rem;
    margin: 0;
}

nav hr {
    color: lightgrey;
    width: 100%;
    height: 1px;
}

main {
    position: relative;
    text-align: center;
    padding-top: clamp(4vh, 4rem, 42vh);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.53);
    z-index: 1;
}

main > * {
    position: relative;
    z-index: 10;
}

section {
    background-color: var(--whiteColor);
}

#section-statement {
    padding-bottom: 0rem;
    overflow: hidden;
}

.bg-layer {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 1.5s ease-in-out;
    opacity: 0;
    transform: scale(1);
    z-index: 0;
    backface-visibility: hidden;
    will-change: opacity, transform;
  }
  

#bg1 {
    z-index: 10;
}

#bg2 {
    z-index: 11;
}
  
#section-statement .common-padding {
    position: relative;
    color: var(--whiteColor);
    padding-top: 6rem;
    padding-bottom: 2rem;
    background-image: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    z-index: 20;
}

#bg1::before,
#bg2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.53);
    z-index: 0;
}

#bg1::before,
#bg2::before > * {
    position: relative;
    color: var(--whiteColor);
    z-index: 20;
}

#section-statement h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    word-wrap: break-word;
}

#section-statement p {
    max-width: 20ch;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
}

#section-statement h1,
#section-statement p {
    text-shadow: 0 0 24px black;
}

.moving-text, .moving-servicio {
    opacity: 0;
    transform: translateY(100%);
    transition: all 1s ease-in-out;
}

.moving-text.visible, .moving-servicio.visible {
    opacity: 1;
    transform: translateY(0%);
}

.fade-in-element {
    opacity: 0;
    transition: all 2s ease-in-out;
}

.fade-in-element.visible {
    opacity: 1;
}

.div-double-button-container {
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;   
}

.call-to-action, .info-button, .a-contacto {
    all: unset;
    font-family: var(--primaryFont);
    font-size: 1rem;
    font-weight: 700;
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    border-radius: 32px;
    text-transform: uppercase;
    cursor: pointer;
    height: fit-content;
}

.call-to-action, .a-contacto {
    padding: 1rem 2rem;
    color: var(--blackColor);
    background-color: var(--secondaryColor);
}

.call-to-action {
    color: var(--whiteColor);
}

.call-to-action:hover {
    background-color: #fc8505;
}

#section-statement .call-to-action {
    padding: 0 2rem;
}

#section-servicios .common-padding {
    padding: 2rem 0 3rem;
}

#section-servicios .text-container:first-child {
    padding-top: 3rem;
}

#section-servicios ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.li-servicio.moving-text {
    transform: translateY(25%);
}

.li-servicio.moving-text.visible {
    transform: translateY(0%);
}

.li-servicio p {
    max-width: 90%;
}

.svg-container {
    margin: 1rem auto;
    padding: 2rem;
    background-color: var(--strongColor);
    border-radius: 200px;
    width: fit-content;
}

.li-servicio svg {
    max-width: 3rem;
    height: auto;
}

.info-button {
    padding: 0 1.5rem;
    color: var(--whiteColor);
}

#section-nosotros {
    padding-bottom: 2rem;
    background-color: #f9f9f9;
}

#section-nosotros .common-padding {
    padding-bottom: 2rem;
}

#section-nosotros p {
    margin-bottom: 0.5rem;
}

#section-nosotros .button-container {
    margin: 2rem 0 1rem;
}

#section-nosotros img {
    margin: 2rem 0;
}

#section-nosotros .text-container.moving-text {
    transform: translateY(10%);
}

#section-nosotros .text-container.moving-text.visible {
    transform: translateY(0%);
}

#section-beneficios {
    color: var(--whiteColor);
    padding: 4rem 0 6rem;
    background-image: url(Imágenes/Herreria/herreria-image-7.webp);
    background-position: center;
    background-attachment: fixed;
}

#section-beneficios h2 {
    color: var(--whiteColor);
    max-width: 10ch;
}

#section-beneficios ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.li-beneficio {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dynamic-number {
    font-size: 4rem;
    font-weight: 900;
}

.li-beneficio-text {
    font-size: 1.25rem;
}

#section-galeria .common-padding {
    padding: 5rem 0 3rem;
}

#div-galeria {
    padding: 2rem 0;
    overflow-x: auto;
}

.scroll-container {
    display: flex;
    gap: 1rem;   
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.li-galeria {
    flex: 0 0 auto;
    scroll-snap-align: center;
    width: 80vw; /* Adjust for how much of the screen you want each image to take */
    max-width: 300px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.li-galeria {
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    padding-top: 6rem;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    z-index: 2;
  }
  
  .close {
    position: absolute;
    top: 100px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    z-index: 3;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .close:hover {
    color: #bbb;
  }

#section-medios-de-pago {
    padding: 3rem 0;
}

#section-medios-de-pago, #section-contacto {
    z-index: 1;
}

#section-medios-de-pago .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1.25rem;
    text-align: left;
    border-left: 2px solid var(--strongColor);
    background-color: #f9f9f9;
}

#section-medios-de-pago h3 {
    margin: 0;
}

#section-medios-de-pago p {
    padding: 1.25rem 0;
}

#section-medios-de-pago .call-to-action {
    text-align: center;
    padding: 0;
}

#contacto-flex-content .text-container {
    background-color: black;
}

#section-contacto h2,
#section-contacto h3,
#section-contacto p {
    color: var(--whiteColor);
}

#section-contacto .common-padding {
    padding: 0;
}

#section-contacto .text-container {
    background-image: url(Imágenes/ega-contacto.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 6rem 2rem;
}

#ul-medios-de-contacto {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem 0;
}

#ul-medios-de-contacto p {
    margin-top: 1rem;
}

.div-medio-de-contacto-titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

.div-medio-de-contacto-titulo h3 {
    margin: 0;
}

.div-medio-de-contacto-titulo svg {
    max-width: 2rem;
    max-height: 2rem;
    margin: 0;
    padding: 0;
}

#media-contacto-wpp {
    scale: 0.8;
}

.div-medio-de-contacto-titulo svg path {
    fill: var(--whiteColor);
}

iframe {
    max-width: 100%;
}

footer {
    padding-top: 2rem;
    background-color: var(--blackColor);
    color: var(--whiteColor);
}

footer .section-padding {
    padding-bottom: 0;
}

footer a:hover {
    cursor: pointer;
    color: var(--strongColor);
    transition: all 0.2s ease;
}

#footer-div-top-logo {
    margin: 0;
    padding: 1rem 0;
    height: auto;
    align-self: left;
    border-radius: 0;
}

#footer-div-top {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-bottom: 1rem;
}

.footer-section {
    text-align: center;
    margin: 1rem 0;
}

footer h4 {
    line-height: 2rem;
}

footer ul li {
    margin: 0;
    padding: 0.5rem 0;
}

#footer-top-seguinos ul {
    display: flex;
    justify-content: center;
    gap: clamp(4%, 1.25rem, 8%);
    align-content: center;
}

.social-media-link svg {
    width: 2rem;
    height: auto;
}

.social-media-link path {
    fill: var(--whiteColor);
}

.social-media-link svg:hover path {
    fill: var(--strongColor);
    transition: all 0.2s ease;
}

footer hr {
    color: initial;
}

#footer-p-copyright {
    max-width: none;
    text-align: center;
    padding: 1.5rem;
}

.wsp-flotante {
    width: 82px;
    height: 82px;
    cursor: pointer;
    border-radius: 60px;
    border: none;
    background-color: #25D366;
    position: fixed;
    bottom: 20px;
    right: 0;
    translate: -30% 0;
    z-index: 10000;
    display: grid;
    place-content: center;
    transition: all 0.3s;
    padding: 0.75rem;
    box-shadow: 0px 0px 6px rgb(99, 99, 99);
}

.wsp-flotante svg {
    width: 100%;
    height: auto;
}

.wsp-flotante svg path {
    fill: var(--whiteColor);
}

@media (min-width: 996px) {
    #header-padding {
        width: 100%;
        max-width: 90rem;
        max-width: 110rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px 6rem;
        z-index: 1000;
    }

    .header-div-top {
        padding: 0;
        height: initial;
        background-color: transparent;
    }

    .header-div-logo-container {
        max-width: 150px;
        width: 40%;
    }

    .header-div-logo-container img {
        position: initial;
        width: auto;
        height: 3rem;
        top: 0;
        bottom: 0;
        margin-top: 0;
        transition: all 0.5s ease-in-out;
    }

    .header-div-logo-container img.visible {
        scale: 1.05;
    }

    #hamburguer-menu-icon {
        display: none;
    }

    nav {
        position: initial;
        top: initial;
        left: initial;
        transform: none;
        width: 60%;
        background-color: var(--strongColor);
    }

    nav ul {
        flex-direction: row;
        justify-content: right;
        align-items: center;
        gap: 4rem;
        margin: 0;
        padding: 0;
        padding-right: 36px;
    }

    nav ul li {
        font-size: 1rem;
        margin: 0;
    }

    nav hr {
        display: none;
    }

    .common-padding {
        padding: clamp(4vh, 2rem, 42vh) 4% 6rem;
    }

    .bg-layer {
        background-size: 80%;
    }

    #section-statement .common-padding {
        display: flex;
        flex-direction: column;
        padding-top: 8rem;
        width: 90%;
        height: 650px;
        background-size: 50%;
        text-align: left;
    }

    #div-statement-h1 {
        margin-left: 0;
    }

    #section-statement h1 {
        font-size: 3rem;
        max-width: 24ch;
    }

    #section-statement p, #section-statement .div-double-button-container {
        margin-left: 0;
    }

    #section-servicios .common-padding {
        padding-top: 0;
    }

    #section-servicios .text-container:first-child {
        padding-top: 8rem;
    }

    #section-statement p {
        max-width: 30%;
    }

    #section-servicios ul {
        flex-direction: row;
        padding: 3rem 0;
    }

    .li-servicio p {
        max-width: 70%;
    }

    .li-servicio svg {
        max-width: 4.5rem;
    }

    #section-nosotros .common-padding {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 4rem;
        align-items: center;
        text-align: left;
    }

    #section-nosotros img {
        max-width: 50%;
    }

    h2 {
        font-size: 3rem;
        line-height: 3.25rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .small-title {
        font-size: 1.125rem;
    }

    #section-beneficios ul {
        flex-direction: row;
        padding: 2rem 0;
    }

    #section-beneficios {
        padding-bottom: 1rem;
    }

    #section-medios-de-pago {
        padding: 0;
        padding-top: 1rem;
    }

    #section-medios-de-pago .common-padding {
        padding: 1rem 10%;
    }

    #section-medios-de-pago .content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #section-medios-de-pago p {
        padding: 0;
    }

    #section-medios-de-pago .text-container {
        margin: 0;
        padding: 1.5rem;
    }

    #section-medios-de-pago .call-to-action {
        padding: 0 1.5rem;
        font-size: 1rem;
    }

    #section-contacto h2 {
        font-size: 1.75rem;
    }

    #section-contacto h3 {
        font-size: 1.125rem;
    }

    .div-medio-de-contacto-titulo svg {
        max-width: 1.25rem;
        max-height: 1.25rem;
    }

    #contacto-flex-content {
        display: flex;
        justify-content: center; /* Center contents horizontally */
        align-items: center;     /* Center contents vertically (optional) */
        margin: 0 auto;
        padding: 4rem 10% 4rem;
    }

    #contacto-flex-content .text-container {
        flex: 0 1 40%;
        max-width: 40%;
        box-sizing: border-box;
        padding: 2rem;
    }
      
    #contacto-flex-content iframe {
        margin: 0;
        padding: 0;
        flex: 0 1 60%;
        max-width: 60%;
        box-sizing: border-box;
    }

    footer .common-padding {
        padding-bottom: 0;
    }

    #footer-div-top {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    #footer-div-top-logo {
        max-width: 30%;
    }

    .footer-section {
        text-align: left;
    }

    #footer-top-seguinos ul {
        text-align: left;
    }

    footer hr {
        display: none;
        border: solid 1px rgb(61, 61, 61);
        width: 70%;
    }
}